.search-input {
  width: 50%;
  margin-right: 10px;
}

.input-reset {
  position: relative;
  display: flex;
  align-items: center;
  width: 50%;
  background-color: #fff;
  img {
    height: 60%;
    padding-left: 10px;
  }
}

input {
  width: 100%;
  border: none;
  padding: 7px 10px;
}

.close-icon {
  color: rgb(122, 117, 117);
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.close-icon:hover {
  color: rgb(46, 51, 51);
}