.container-xl {
  padding: 0;
}

.card-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: auto;
  width: 100%;
  margin: 5% auto;

  .card {
    width: 22%;
    margin: 10px;

    .card-img-top:hover {
      opacity: 0.5;
    }
  }
}
