.container-xl {
  padding: 0;
}

.card-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: auto;
  width: 100%;
  margin: 5% auto;

  .card {
    width: 22%;
    margin: 10px;
    transition: 0.3s opacity ease-in-out;
    cursor: pointer;

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .card-img-top:hover {
      opacity: 0.5;
      transition: 0.3s opacity ease-in-out;
    }
  }
}
