header {
  background-color: rgba(0, 0, 0, 0.3);
}

.header {
  display: flex;
  justify-content: space-around;
  padding: 20px 10px;

  &__logo {
    width: 20%;

    .link {
      font-size: 26px;
      color: salmon;
    }
  }
}
