@import "../../../node_modules/bootswatch/dist/yeti/variables";
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
header {
  background-color: $primary;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 10px;

  &__logo {
    width: 20%;
    font-family: 'Indie Flower', cursive;

    .link {
      color: $secondary;
      font-size: 34px;
    }
  }

  &__right {
    width: 20%;
    display: flex;
    justify-content: space-around;
  }

  &__sign {
    display: flex;
    align-items: center;
  }
}
