.banner {
  &__slider {
    ul {
      li {
        .slide-item {
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          width: 100%;
          height: 600px;

          img {
            width: 100%;
          }
        }
      }
    }
  }

  &__modal {
    &-content {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.8);

      &--close {
        position: absolute;
        color: rgba(255, 255, 255, 0.7);
        top: 30px;
        right: 30px;
        cursor: pointer;
        font-size: 32px;
        transition: .3s color;

        &:hover {
          color: rgba(255, 255, 255, 0.2);
          transition: .3s color;
        }
      }

      img {
        height: 90%;
      }
    }
  }
}

.dots {
  width: 100%;

  li button {
    width: 45px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0;
    border: none;
  }

  li.react-multi-carousel-dot--active button {
    background-color: rgba(0, 0, 0, 0.7);
  }
}