.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes transformTextX {
  0% { transform: translateX(-20%); }
  12.5% { transform: translateX(0); }
  100% { transform: translateX(0); }
}

@keyframes transformTextY {
  0% { transform: translateY(50%); }
  12.5% { transform: translateY(0); }
  100% { transform: translateY(0); }
}

.slides-container {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  position: relative;
  height: 700px;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__content {
    position: absolute;
    font-size: 32px;
    top: 30%;
    left: 10%;
    color: #fff;
    
    h2 {
      animation-name: transformTextX;
      animation-duration: 8s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }

    p {
      animation-name: transformTextY;
      animation-duration: 8s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
  }

  .slide-dots {
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: space-between;
    position: absolute;
    top: 45%;
    right: 3%;
  }

  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgba(155, 155, 155, 0.8);
    transition: background-color 0.6s ease;
  }

  .active {
    background-color: #01b3a7;
  }
}
